# DATABASE
POSTGRES_DB=blog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
DATABASE_HOST=db
DATABASE_PORT=5432

# SMTP SERVER CONFIGURATION
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_app_password
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your_email@example.com

# R2 BUCKET
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET=your_r2_bucket_name
R2_PUBLIC_DOMAIN=your-public-domain.r2.dev
