{% load blog_tags %}
{% pagination_range page 5 as page_range %}
<nav class="pagination" role="navigation" aria-label="Pagination">
    <div class="flex items-center gap-2 text-gray-500">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" aria-label="previous" class="mr-4 flex items-center gap-1">
                <svg class="mt-px" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.75 12.5h11.5m-11.5 0 4.792-4.791M5.75 12.5l4.792 4.792" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>previous</span>
            </a>
        {% else %}
            <span class="mr-4 flex items-center gap-1 text-gray-300">
                <svg class="mt-px" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.75 12.5h11.5m-11.5 0 4.792-4.791M5.75 12.5l4.792 4.792" stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>previous</span>
            </span>
        {% endif %}

        <div class="flex gap-2 text-sm md:text-base">
            {% for num in page_range %}
                {% if page.number == num %}
                    <span class="flex items-center justify-center w-9 md:w-12 h-9 md:h-12 aspect-square rounded-md bg-purple-100 text-purple-600 transition-all">
                        {{ num }}
                    </span>
                {% else %}
                    <a href="?page={{ num }}"
                       class="flex items-center justify-center active:scale-95 w-9 md:w-12 h-9 md:h-12 aspect-square rounded-md hover:bg-gray-200/70 transition-all">
                        {{ num }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" aria-label="next" class="ml-4 flex items-center gap-1">
                <span>next</span>
                <svg class="mt-px" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.25 11.5H5.75m11.5 0-4.792-4.79m4.792 4.79-4.792 4.792" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        {% else %}
            <span class="ml-4 flex items-center gap-1 text-gray-300">
                <span>next</span>
                <svg class="mt-px" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.25 11.5H5.75m11.5 0-4.792-4.79m4.792 4.79-4.792 4.792" stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        {% endif %}
    </div>
</nav>
